.sidenav-container {
  height: 100wh;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 0;
}

mat-toolba,
mat-toolbar,
mat-nav-list,
mat-sidenav,
mat-sidenav-container,
mat-sidenav-content,
mat-icon-button{
  font-family: Persian;
}

.content{
  padding: 5px;
}
