<div id="Screen">
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="login-image"></div>
      <mat-card-title>فود لند</mat-card-title>
      <mat-card-subtitle>سامانه سفارش غذا</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field class="login-full-width">
          <mat-label>نام کاربری</mat-label>
          <input
            type="text"
            matInput
            minlength="5"
            maxlength="5"
            [formControl]="usernameFormControl"
            placeholder="نام کاربری"
          />
          <mat-hint>نام کاربری خود را وارد کنید</mat-hint>
          <mat-error *ngIf="usernameFormControl.hasError('minlength')">
            <strong> نام کاربری کمتر از حد مجاز است!</strong>
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            <strong>نام کاربری الزا میست! </strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <mat-label>کلمه عبور</mat-label>
          <input
            type="password"
            matInput
            minlength="5"
            maxlength="5"
            [formControl]="passwordFormControl"
            placeholder="رمز عبور"
          />
          <mat-hint>رمز عبور خود را وارد کنید</mat-hint>
          <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            <strong>مقدار رمز عبور کمتر از حد مجاز است!</strong>
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            <strong>رمز عبور الزا میست! </strong>
          </mat-error>
        </mat-form-field>

        <mat-checkbox name="Keepme" [(ngModel)]="KeePme" class="example-margin"
          >مرا به خاطر بسپار</mat-checkbox
        >
      </form>
    </mat-card-content>
    <mat-progress-bar
      *ngIf="isBusy == true"
      mode="indeterminate"
      color="accent"
    ></mat-progress-bar>
    <mat-card-actions *ngIf="isBusy == false">
      <button
        [disabled]="usernameFormControl.invalid || passwordFormControl.invalid"
        mat-raised-button
        color="accent"
        (click)="check()"
      >
        ورود
      </button>
    </mat-card-actions>
  </mat-card>
</div>
