table {
    border-collapse: collapse;
    width: 40%;
  }
  
  th, td,tr {
    padding: 15px;
    text-align:center;
    border-bottom: 1px solid #DDD;
  }
  
  tr:hover {background-color: hwb(60 0% 0% / 0.056);}